p{
 color: white;
 padding: 0px;
 margin: 0px;
}
.red{
  color: red;
}
img{
  width: 100px;
  alt:"Smiley face"
}
.container{
  background-image: url("./bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;

  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none ;
}
.wrapper{
  width: 374px;
  height: 369px;
  

  background-color: rgba(138, 241, 255, 0.062);
   display: flex;
   
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  
 
}
.wrapper>input{
  
  align-self: normal ;
  border-radius: 3px;
  border: none;
  padding: 10px;
  margin: 10px 0;

}
body{
  margin: 0px;
  padding: 0px;
  border: none;
}
button{
  
  padding: 10px;
  align-self: normal;
  text-align: center;
  border-radius: 5px;
  border: 0px solid black;
  background-color: rgb(255, 30, 30);
  color: white;
}